.Header {
    position: fixed;
    width: 100%;
    padding: 50px 0;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeaderScrolled {
    background: rgba(0,0,0, 0.8);
    padding: 15px 0;
    backdrop-filter: blur(20px);
}

.HeaderGroup {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(9, auto);
    align-items: center;
    justify-items: center;
}

.Header a {
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.Header a:hover {
    /* color: white; */
    font-weight: 500;
    font-size: 18px;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.25);
    transform: translateY(-1px);
    color: white;
}

.Header a.active {
    /* color: white; */
    font-weight: 500;
    font-size: 18px;
    color: white;
    /* text-decoration: underline; */
    border-bottom: 2px solid darkorange;

}

.Header button {
    padding: 8px 20px;
    font-size: 20px;
    background: #56CCF2;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header button:hover {
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.25);
    transform: translateY(-3px);
}

.Header .navNarrow i {
    float: left;
	cursor: pointer;
	color: #FFF;
}

.Header .navNarrow .narrowLinks {
    display: none;
}

.Header .navNarrow .narrowLinks a{
    text-decoration: none;
	display: block;
    float: left;
    clear: left;
    padding: 0.5em 0;
}

.Header .navNarrow img {
    display: none;
}

@media screen and (max-width: 640px) {
    .Header {
        padding: 15px 0;
    }

    .HeaderGroup {
        display: none;
        /* grid-template-columns: repeat(4, auto); */
    }

    .Header a:nth-child(4) {
        display: none;
    }

    .Header .navNarrow .narrowLinks {
        display: none;
        margin-left: 20px;
        
    }

    .Header .navNarrow img {
        display: block;
        margin-left: 20px;
    }
}





